<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="com.aiden.helloMybatis.entity.Student">	
	
	<!-- resultMap标签:映射实体与表 
		 type属性：表示实体全路径名
		 id属性：为实体与表的映射取一个任意的唯一的名字
	-->
	<resultMap type="com.aiden.helloMybatis.entity.Student" id="studentMap">
		<!-- id标签:映射主键属性
			 result标签：映射非主键属性
		     property属性:实体的属性名
		     column属性：表的字段名	 
		-->							
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="sal" column="sal"/>
	</resultMap>

	
	<!-- 
		insert标签：要书写insert这么一个sql语句
		id属性：为insert这么一个sql语句取一个任意唯一的名字
		parameterType:要执行的dao中的方法的参数，如果是类的话，必须使用全路径类
	-->
	
	<!-- 更新学生 -->
	<insert id="add" parameterType="com.aiden.helloMybatis.entity.Student">
		insert into students(id,name,sal) values(#{id},#{name},#{sal})
	</insert>
	
	
	<!-- 根据ID查询学生
		 如果参数不是一个实体的话，只是一个普通变量，例如:int,double,String
		 这里的#{中间的变量名可以随便写}，不过提倡就用方法的形参
	 -->
	<select id="findById" parameterType="int" resultType="com.aiden.helloMybatis.entity.Student">
		select id,name,sal from students where id = #{id}
	</select>
	
	<!-- 查询所有学生 
		 理论上resultType要写List<Student>
		 但这里只需书写List中的类型即可，即只需书写Student的全路径名
	-->
	<select id="findAll" resultType="com.aiden.helloMybatis.entity.Student">
		select id,name,sal from students
	</select>
	
	
	
	<!-- 更新学生 -->
	<update id="update" parameterType="com.aiden.helloMybatis.entity.Student">
		update students set name=#{name},sal=#{sal} where id=#{id}
	</update>
	
	
	
	<!-- 删除学生 --> 
	<delete id="delete" parameterType="com.aiden.helloMybatis.entity.Student">
		delete from students where id = #{id}
	</delete>

</mapper>




